* {
    box-sizing: border-box;
}

body {
    background-color: #f7eade;
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

.column {
    width: 50%;
    min-width: 400px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 900px;
    border-radius: 47%;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

h3 {
    background-color: #96302e;
    border: solid black;
    border-radius: 25px;
    padding: 15px 0px;
    color: white;
}

.container {
    background-color: #f7eade;
    width: 50%;
    min-width: 300px;
    margin: 0px auto;
    padding: 48px 0px;
}

.white {
    background-color: rgb(247, 243, 237);
    padding: 48px 20px;
}

.yellow {
    background-color: #ccb58a;
    padding: 48px 20px;
}

.red {
    background-color: #cb2329;
}

.green {
    background-color: #89b235;
    padding: 48px 20px;
}

.rounded {
    border-radius: 50%;
}