* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: url(../images/feywild.png);
    background-size: cover;
    background-attachment: fixed;
}

/***************************
Card Styling
***************************/
#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
    
.card {
    flex: 300px;
    background-color: #ffffffb3;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    color: #20241d;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    border-radius: 25px;
}

/***************************
    Navbar styling
***************************/
#navbar {
    background-color: #e9bf87;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: #20241d solid 3px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #20241d;
    padding: 24px;
    font-weight: bold;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#logo i {
    color: #b30c0c;
}

/***************************
    Dropdown styling
***************************/
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #e9bf87;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #f6a131;
}

/************************* 
media queries 
*************************/
@media screen and (max-width: 768px) and (min-width: 481px) {
    .content-containerh1 {
        font-size: 32px;
    }
    .intro{
        gap: 24px;
    }

    .card {
        margin-left: 50px;
        margin-right: 50px;
    }
}
      
@media screen and (max-width: 480px) {
    #nav{
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }
    .intro{
        flex-direction: column;
    }
    .content-containerh1 {
        margin: 0px;font-size: 32px
    }
    .content-container{
        text-align: center;
    }

    .card {
        margin-left: 50px;
        margin-right: 50px;
    }
}