@import url('https://fonts.cdnfonts.com/css/cubano');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/**************
 Navbar 
**************/

#navbar {
    background: linear-gradient(to bottom, #f1d098, #f1e5d5);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: #594797 solid 10px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-family: 'Cubano', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5847977d;
}

#navbar #logo img {
    width: 150px;
}

#navbar .cta-buttom {
    background-color: white;
    color: #594797;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    transition: background-color.5s, color.5s;
}

#navbar .cta-buttom:hover {
    background-color: #594797;
    color: aliceblue;
    -webkit-text-stroke-width: 0px;
    border-radius: 36px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 18px;
}

#navbar a:hover {
    background-color: #fcfcfc9d;
    border-radius: 80%;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

/**************
    Footer
**************/
#footer {
    background: linear-gradient(to bottom, #e69f6c, #f1d098);
    color: white;
    padding: 12px;
    border-top: #594797 10px solid;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

/**************
    Layout
**************/
.single-column {
    width: 80%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
    
.light-container {
    background-color: #f1e5d54c;
    color: #594797;
    padding: 48px 0px;
}

.small-text {
    font-size: 10px;
}

.single-column  .order {
    font-weight: 800;
    text-decoration: none;
}

.single-column a p {
    background-color: #594797;
    padding: 20px;
    color: white;
    border-radius: 35px;
    width: 240px;
    text-align: center;
}

.dark-container {
    background-color: white;
    color: #594797;
    padding: 36px 0px;
}

h2 {
    font-family: 'Cubano', sans-serif;
}

.dark-container p {
    color: #2e2b27;
}

.light-container p {
    color: #2e2b27;
}

.side-by-side {
    display: inline;
    width: 49%;
}

.side-by-side img {
    padding-left: 36px;
    width: 80%;
}

/**************
    Hero
**************/

#hero-1 {
    background-image: url("../images/milkshake.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
    text-align: center;
    font-family: 'Cubano', sans-serif;
}

#hero-1 h2 {
    font-size: 3vw;
    margin-bottom: 5vh;
    margin-right: 7vw;
    margin-top: 25vh;
    color: white;
    font-weight: bold;
}

#hero-1 h4 {
    font-size: 2vw;
    margin: 0px 8vw 0px 0px;
    color: white;
    font-weight: bold;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #594797;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 14vw 10vh 0px;
    border-radius: 35px;
}

#hero-1 a:hover {
    box-shadow: 16px 16px 8px rgba(60, 57, 77, 0.291);
    transform: translateY(-5px);
}

#hero-1 img {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.816);
    border-radius: 50%;
    margin: 0px 14vw 10vh 0px;
    transform: translateY(3px) translateX(188px);
}

/**************
    Card
**************/

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card-style-2 {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    margin: 36px;
    margin-right: 36px;
    border: #594797 solid 5px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 35px;
    padding: 15px;
}

.card-style-2 p {
    text-align: left;
    font-weight: lighter;
}

.card-style-2 img {
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-style-2 h2 {
    font-size: 24px;
    margin-top: 12px;
    padding: 12px;
    color: #2e2b27;
}

.card-style-2 .bold {
    font-size: 25px;
    padding: 0px 12px;
}

.bold {
    font-weight: bold;
}

.card-style-2 p {
    text-align: center;
    margin-bottom: 50px;
    font-weight: lighter;
    color: #2e2b27;
}

.card-container {
    transition: box-shadow.10s, transform.10s;
}

.card-container h2 {
    font-family: 'Cubano', sans-serif;
    color: #594797;
}

p {
    font-family: "Chakra Petch", sans-serif;
}

.card-container .order {
    font-weight: 800;
    text-decoration: none;
}

.card-container a p {
    background-color: #594797;
    padding: 20px;
    color: white;
    border-radius: 35px;
}

/**************
    Menu page
**************/
#grid-layout {
    display: grid;
    grid-template-columns: 2fr 250px 30px;
    grid-template-areas: "content sidebar .";
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
    font-size: 22px;
}

#sidebar-content h2 {
    background-color: #594797;
    border-radius: 35px;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: transparent;
    margin: 0px 0px 36px; 
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    color: #2e2b27;
    text-decoration: none;
    font-size: 16px;
}

#sidebar-content li {
    border-bottom: 1px solid #594797;
    padding: 8px 0px;
    font-family: "Chakra Petch", sans-serif;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    grid-area: content;
    margin: 0px 36px;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: 'Cubano', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #594797;
}

#main-content h1 {
    margin-bottom: 40px;
    border-bottom: #594797 solid 3px;
}

#grid-layout #main-content h2 {
    color: #2e2b27;
    margin-top: 100px;
}

.bigger-h2 {
    font-size: 40px;
}

/**************
   Menu Cards
**************/

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card-style-1 {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
}

.card-style-1 p {
    text-align: left;
    font-weight: lighter;
}

.card-style-1 img {
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-style-1 h2 {
    font-size: 20px;
    margin-top: 12px;
    padding: 12px;
    color: #594797;
}

.card-style-1 .bold {
    font-size: 25px;
    padding: 0px 12px;
}

.bold {
    font-weight: bold;
}

.card-style-1 p {
    text-align: center;
    margin-bottom: 50px;
    font-weight: lighter;
    color: #2e2b27;
}

.card-container {
    transition: box-shadow.10s, transform.10s;
}

.card-container .card-style-1 img:hover {
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.291);
    transform: translateY(-20px);
}

.card-container h2 {
    font-family: 'Cubano', sans-serif;
    color: #594797;
}

.card-container .order {
    font-weight: 800;
    text-decoration: none;
}

.card-container a p {
    background-color: #594797;
    padding: 20px;
    color: white;
    border-radius: 35px;
}

.card-container .price {
    font-size: 30px;
    font-weight: bolder;
    border-top: #2e2b27 solid 1px;
    padding-top: 10px;
}

/**************
   Media Queries
**************/
@media screen and (max-width: 777px) {
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar {
        font-size: 15px;
        text-align: center;
    }

    #navbar .cta-buttom {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #hero h1{
        font-size: 42px;
    }

    #hero h3{
        font-size: 28px;
    }

    #grid-layout {
        display: grid;
        grid-template-columns: 1fr 150px 20px;
        grid-template-areas: "content sidebar .";
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #main-content h1 {
        font-size: 30px;
    }

    #main-content h2 {
        font-size: 20px;
    }

    #main-content  {
        font-size: 20px;
    }

    .content-container{
        flex-direction: column;
        align-items: center;
    }

    .card-container .price {
        font-size: 30px;
        font-weight: bolder;
        border-top: #2e2b27 solid 1px;
        padding-top: 10px;
    }

    .three-cards{
        flex-direction: column;
        align-items: center;
    }

    .two-cards{
        flex-direction: column;
    }
}