/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2 {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    margin: 36px;
    margin-left: 36px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.659);
    background-color: rgb(249, 249, 249);
    text-align: center;
    border-radius: 35px;
    padding: 15px;
}

.card-style-2 p {
    text-align: left;
    font-weight: lighter;
}

.card-style-2 img {
    width: 100%;
    min-width: 150px;
    max-width: 210px;
    border-radius: 50%;
}

.card-style-2 h2 {
    font-size: 24px;
    margin-top: 12px;
    padding: 12px;
}

.card-style-2 .logo {
    margin-right: 90px;
}

.card-style-2 .brand-name {
    font-size: 25px;
}

.fa-heart {
    transition: color.5s;
}

.card-style-2 .fa-heart:hover {
    color: rgb(206, 123, 255);
}

.card-style-2 .fa-comment {
    transition: color.5s;
}

.card-style-2 .fa-comment:hover {
    color: rgb(251, 188, 255);
}

.card-style-2 .fa-image {
    transition: color.5s;
}

.card-style-2 .fa-image:hover {
    color: blueviolet;
}

.card-style-2 span {
    font-size: 25px;
    padding: 0px 12px;
}

.card-style-2 p {
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    transition: box-shadow.10s, transform.10s;
}

.card-container .card-style-2:hover {
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.291);
    transform: translateY(-20px);
}